body.black {
    background-color: black;
    color: white;
}
body.white {
    background-color: white;
    color: black;
}
a:hover {
    color : red;
}
container {
    padding: 20px;
}
#control {
    margin-bottom: 20px;
}
#logo {
    width: 100px;
}
#disqus_thread {
    padding-top: 20px;
} 
    
    
/* #control {
    float: right;
    padding: 10px;
}
.disqus_thread {
    margin-top: 300px ;
}
header img {
    float: right;
    height: 100px;
}
#disqus_thread {
    margin-top: 100px;
} */