
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400&display=swap');

*{
    box-sizing: border-box;
}
body {
    background-image: url(https://source.unsplash.com/category/technology/1600x900);
    background-size: cover;
    min-height:100vh;
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}
article {
    background-color: rgba(189, 185, 185, 0.459);
    color: black;
    max-width: 20rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;
    font-weight: 200;
}
.control {
    background-color: rgba(0, 0, 0, 0.274);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 1rem;
}
.control ul {
    list-style: none;
    padding-left: 0px;
}
.control li {
    display: inline-block;
    padding: 0 0.5rem;
}
.control a {
    color: white;
    text-decoration: none;
}
.control>*{
    display: inline-block;
}
.control .player{
    position: absolute;
    right: 1rem;
}
.control .player a>span{
    display: none;
}